<div class="container">
  <div class="form">
    <p class="form__title">LOG IN</p>
    <p class="form__subtitle">Ingrese para poder avanzar</p>
    <!-- LOGIN FORM -->
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      (keyup.enter)="loginForm.valid ? login() : ''"
    >
      <!-- INPUT EMAIL -->
      <div class="form__input">
        <label for="nick">
          <i class="fa fa-user-circle icon"></i>
        </label>
        <input
          formControlName="nick"
          class="form__input--field"
          type="text"
          placeholder="usuario"
          autofocus
        />
      </div>
      <!-- INPUT PASSWORD -->
      <div class="form__input">
        <label for="password">
          <i class="fa fa-lock icon"></i>
        </label>
        <input
          formControlName="password"
          class="form__input--field"
          type="password"
          placeholder="contraseña"
        />
        <!-- <span class="form__input--forgot-password">
          <a href="">Forgot?</a>
        </span> -->
        <!-- <span>
          <mat-icon>eye</mat-icon>
        </span> -->
      </div>

      <!-- BUTTON LOGIN -->
      <button
        mat-button
        class="form__button w-100"
        [disabled]="!loginForm.valid"
        type="submit"
      >
        Ingresar
      </button>
    </form>
  </div>
</div>
