.header {
  background-color: #3f51b5;
  color: white;
}

.container {
  padding: 20px;
}

.sidebar {
  background-color: #3f51b5;
  color: white !important;
  .mat-toolbar {
    background-color: transparent;
    color: white;
  }
}

.mat-list-base .mat-list-item {
  color: white;
}

.mobile{
  display: none;
  @media (max-width:990px) {
    display: flex;
  }
}

.home{
  cursor: pointer;
  .mat-icon{
    font-size: 30px;
    vertical-align: top;
    margin-right: 8px;
  }
  span{
    font-size: 22px;
  }
  @media (max-width:990px) {
    display: none;
  }
}