<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center">
      <h1>Bienvenido {{ user }}</h1>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row d-flex justify-content-center">
    <mat-spinner class="my-5" *ngIf="spinner"></mat-spinner>
  </div>
  <div class="row my-2" *ngIf="!spinner">
    <mat-card class="mb-card">
      <mat-card-header>
        <h2>Lista de casos del cliente</h2>
      </mat-card-header>

      <mat-card-content>
        <table mat-table #table [dataSource]="casesService.cases" class="w-100">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let case">
              {{ case.nameEnterprise | titlecase }}
            </td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let case">
              {{ case.amountLost }}
            </td>
          </ng-container>
          <ng-container matColumnDef="moneyType">
            <th mat-header-cell *matHeaderCellDef>Tipo de depósito</th>
            <td mat-cell *matCellDef="let case">
              {{ case.moneyType | uppercase }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let case">
              <app-progress-status
                *ngIf="casesService.caseStates"
                [stateId]="case.stateId!"
              ></app-progress-status>
            </td>
          </ng-container>
          <ng-container matColumnDef="comments">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let case">
              <div class="d-flex">
                <button
                  type="button"
                  (click)="openCommentsDialog(case.caseId)"
                  class="btn btn-primary ms-1 mb-1"
                >
                  Agregar comentarios
                </button>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="files">
            <th mat-header-cell *matHeaderCellDef>Archivos</th>
            <td mat-cell *matCellDef="let case">
              <div class="d-flex">
                <button
                  type="button"
                  (click)="openLoadFilesDialog(case.caseId)"
                  class="btn btn-primary ms-1 mb-1"
                >
                  Ver archivos
                </button>
              </div>
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="[
              'name',
              'amount',
              'moneyType',
              'status',
              'comments',
              'files'
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let case;
              columns: [
                'name',
                'amount',
                'moneyType',
                'status',
                'comments',
                'files'
              ]
            "
          ></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
