<h5 class="text-center">Descripción del caso</h5>
<div class="d-flex justify-content-center">
  <mat-form-field appearance="outline" class="w-100">
    <textarea matInput class="text-field" [(ngModel)]="text"></textarea>
  </mat-form-field>
</div>
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-danger me-2" (click)="closeDialog()">
    Cancelar
  </button>
  <button type="button" class="btn btn-primary" (click)="saveComment()">Agregar comentarios</button>
</div>
