<div class="container">
  <div class="form">
    <p class="form__title">LOG IN</p>
    <p class="form__subtitle">Please log in to continue</p>

    <!-- INPUT EMAIL -->
    <div class="form__input">
      <label for="email">
        <i class="fa fa-envelope icon"></i>
      </label>
      <input class="form__input--field" type="text" placeholder="Email" name="email" id="email" />
    </div>

    <!-- INPUT PASSWORD -->
    <div class="form__input">
      <label for="password">
        <i class="fa fa-lock icon"></i>
      </label>
      <input class="form__input--field" type="text" placeholder="Password" name="password" id="password" />
      <span class="form__input--forgot-password">
        <a href="">Forgot?</a>
      </span>
    </div>

    <!-- BUTTON LOGIN -->
    <button class="form__button">Log in</button>

    <label class="form__checkbox"
      >Remember me
      <input type="checkbox" />
      <span class="checkmark"></span>
    </label>
  </div>
</div>
