<div class="container" fxLayoutAlign="center" class="pb-4">
  <mat-card
    fxFlex="90"
    *ngIf="!spinner"
    [ngStyle]="{
      'box-shadow': editing ? '0 0 0 .25rem rgba(49,132,253,.5)' : ''
    }"
  >
    <mat-card-header class="py-3">
      <h2>
        {{
          newCase
            ? "Nuevo caso"
            : "Caso de " +
              (case.name | titlecase) +
              " " +
              (case.lastName ? (case.lastName | titlecase) : "")
        }}
      </h2>
    </mat-card-header>
    <mat-card-content>
      <div class="row my-3">
        <form [formGroup]="caseForm" autocomplete="off" (submit)="postCase()">
          <div class="row">
            <div class="col-6 pe-2">
              <div class="row">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="name"
                    [errorStateMatcher]="matcher"
                  />
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="outline">
                  <mat-label>Apellido</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="lastName"
                    [errorStateMatcher]="matcher"
                  />
                </mat-form-field>
              </div>
              <div class="row mb-3 ms-1">
                <mat-checkbox class="example-margin" formControlName="newUser">
                  Usuario nuevo
                </mat-checkbox>
              </div>
              <div class="row" *ngIf="caseForm.controls['newUser'].value">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="email"
                    [errorStateMatcher]="matcher"
                  />
                </mat-form-field>
              </div>
              <div class="row" *ngIf="!caseForm.controls['newUser'].value">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <mat-select
                    disableOptionCentering
                    formControlName="email"
                    (opened)="inputSelect.focus()"
                    #selectEmails
                  >
                    <input
                      matInput
                      class="input-select"
                      type="text"
                      (keyup)="onKey($event.target)"
                      #inputSelect
                    />
                    <mat-option
                      *ngFor="let email of foundEmails"
                      [value]="email"
                    >
                      {{ email }}
                    </mat-option></mat-select
                  >
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="outline">
                  <mat-label>País de residencia</mat-label>
                  <mat-select
                    formControlName="country"
                    (selectionChange)="selectCountry($event.value)"
                  >
                    <mat-option
                      [value]="country.spa"
                      *ngFor="let country of countries"
                    >
                      {{ country.spa }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="outline">
                  <mat-label>Teléfono</mat-label>
                  <span matPrefix *ngIf="selectedCountry"
                    >{{ selectedCountry.prefix }} &nbsp;</span
                  >
                  <input type="number" matInput formControlName="phone" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <mat-form-field appearance="outline">
                  <mat-label>Empresa o persona</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="nameEnterprise"
                    [errorStateMatcher]="matcher"
                  />
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="outline">
                  <mat-label>Cantidad de dinero perdido</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="amountLost"
                    [errorStateMatcher]="matcher"
                  />
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="outline">
                  <mat-label>Tipo de inversión</mat-label>
                  <mat-select
                    disableOptionCentering=""
                    formControlName="moneyType"
                    [errorStateMatcher]="matcher"
                  >
                    <mat-option value="crypto"> Criptomonedas </mat-option>
                    <mat-option value="market"> Mercado de valores </mat-option>
                    <mat-option value="actions">
                      Acciones de una empresa específica
                    </mat-option>
                    <mat-option value="other"> Otros </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="outline">
                  <mat-label>Fecha de depósito</mat-label>
                  <input
                    matInput
                    [disabled]="true"
                    formControlName="dateDeposit"
                    [matDatepicker]="picker"
                    placeholder="MM/DD/YYYY"
                    [errorStateMatcher]="matcher"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker [disabled]="false"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="outline">
                  <mat-label>Tipo de depósito</mat-label>
                  <mat-select
                    disableOptionCentering=""
                    formControlName="depositType"
                    [errorStateMatcher]="matcher"
                  >
                    <mat-option value="paypal"> PayPal </mat-option>
                    <mat-option value="cash"> Efectivo </mat-option>
                    <mat-option value="deposit bank"> Depósito </mat-option>
                    <mat-option value="crypto"> Criptomonedas </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="outline">
                  <mat-label>Estado del caso</mat-label>
                  <mat-select
                    disableOptionCentering=""
                    formControlName="nameState"
                    [errorStateMatcher]="matcher"
                  >
                    <mat-option
                      *ngFor="let state of casesService.caseStates"
                      [value]="state.nameState"
                    >
                      {{ state.stateId + " - " + state.nameState | titlecase }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center my-3">
            <button
              type="button"
              class="btn mx-2 btn-danger"
              (click)="goBack()"
              *ngIf="newCase"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn mx-2"
              [ngClass]="editing ? 'btn-danger' : 'btn-primary'"
              (click)="editing ? resetForm() : enableForm()"
              *ngIf="!newCase"
            >
              {{ editing ? "Cancelar" : "Editar" }}
            </button>
            <button type="submit" class="btn btn-success mx-2">Aceptar</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="d-flex justify-content-center w-100">
    <mat-spinner *ngIf="spinner"></mat-spinner>
  </div>
</div>
