// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$money-back-primary: mat.define-palette(mat.$indigo-palette);
$money-back-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$money-back-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$money-back-theme: mat.define-light-theme(
  (
    color: (
      primary: $money-back-primary,
      accent: $money-back-accent,
      warn: $money-back-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($money-back-theme);

:root {
  --white: #ffffff;
  --gray: #f7f7f7;
  --gray-2: #cbcccd;
  --black: #333;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem; //16px default value
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  * {
    font-size: 0.9rem;
  }
}

body {
  background-color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

input,
textarea,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/*#region FORM CHECKBOX*/
.form__checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  color: var(--gray-1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    background-color: #eee;
    border: 2px solid var(--gray-2);
    border-radius: 2px;
  }
}

.form__checkbox:hover input ~ .checkmark {
  background-color: var(--gray-1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form__checkbox input:checked ~ .checkmark:after {
  display: block;
}

.form__checkbox .checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid var(--black);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*#endregion*/

/*#region FORM BUTTON*/
.form__button {
  cursor: pointer;
  color: #fff !important;
  background: #08a742;
  margin-bottom: 30px !important;
  padding: 10px 20px !important;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0;
  border-radius: 2px;
  .mat-button-wrapper {
    font-weight: 700 !important;
    line-height: 1.4em;
    font-size: 1.5rem !important;
  }
  &:hover {
    background: #24b85a;
  }
  &:disabled {
    opacity: 50%;
  }
}
/*#endregion*/

/*#region FORM INPUT*/
.form__input {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--gray-2);
  align-items: center;
  .icon {
    padding: 0 10px;
    color: var(--black);
    min-width: 20px;
    text-align: center;
    font-size: 1rem;
  }
  .form__input--field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
  }
  .form__input--forgot-password > a {
    color: #888e94;
    text-decoration: none;
    font-size: 12px;
  }
}

::placeholder {
  color: var(--gray-2);
}
/*#endregion*/

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
