.spacer {
  flex: 1 1 auto;
}

.landing {
  background-color: #f5f7f8;
  margin-top: 20px;
  padding-top: 20px;
  z-index: 1;
}

.color-white {
  color: #fbfbfb;
}

.mat-card {
  padding: 0 !important;
  .mat-card-header {
    padding: 4px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: #2f3e46;
    color: white;
    justify-content: center;
    .mat-card-header-text {
      display: none;
    }
  }
  .mat-card-content {
    padding: 10px 20px 10px 20px;
  }
}

.mat-list-base {
  margin-bottom: 6px;
}

mat-divider {
  margin: 60px;
}

p {
  align-self: center;
  font-size: 16px;
}
h2 {
  font-size: 22px;
}

.mat-drawer-inner-container {
  width: 70vw !important;
  background-color: #1f292f;
}

.mat-drawer-content {
  overflow-x: hidden !important;
  overflow-y: scroll;
}

.mat-form-field {
  &.mat-form-field-appearance-outline {
    .mat-form-field-infix {
      padding: 8px 0 10px 0;
    }
    .mat-select {
      padding: 2px 0 4px 0;
    }
    .mat-form-field-flex {
      .mat-form-field-outline {
        color: var(--bs-dark);
        border-radius: 6px;
        // background-color: gray;
        &.mat-form-field-outline-thick {
          * {
            color: var(--bs-dark);
            border-width: 1px;
          }
        }
      }
      .mat-form-field-label-wrapper {
        .mat-form-field-label {
          color: var(--bs-dark);
        }
      }
    }
    &.mat-focused {
      .mat-form-field-flex {
        .mat-form-field-outline {
          &.mat-form-field-outline-thick {
            * {
              color: var(--bs-primary);
              border-width: 1px;
            }
          }
        }
        .mat-form-field-label-wrapper {
          .mat-form-field-label {
            color: var(--bs-primary);
          }
        }
        .mat-input-element {
          color: var(--bs-primary);
          text-decoration: none !important;
        }
      }
    }
    &.mat-form-field-invalid {
      .mat-form-field-flex {
      .mat-form-field-outline {
        &.mat-form-field-outline-thick {
          * {
            color: var(--bs-red) !important;
          }
        }
      }}
    }
  }
  .mat-input-element {
    background-color: transparent;
    padding: 3px;
  }
}

.mat-form-field-disabled {
  .mat-input-element {
    color: var(--bs-gray-dark);
  }
  &.mat-form-field-appearance-outline {
    .mat-form-field-flex {
      .mat-form-field-outline {
        color: var(--bs-gray);
      }

      .mat-form-field-label-wrapper {
        .mat-form-field-label {
          color: var(--bs-gray);
        }
      }
    }
  }
}

.btn {
  width: auto;
}